@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    background-image: url("https://i.pinimg.com/originals/72/b8/3c/72b83c76af9cb6f2e4bdec5584881420.jpg");
    height: 100%;
        /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.lightContainer {
      opacity: 0.87;
    background-color: rgb(27, 26, 26);
    width: 200px;
    margin: 20px auto;
    position: absolute;
    left: 150px;
    bottom: 20px;
    border-radius: 15px;
}
.off {
    opacity: .15 !important;
}
.light {
    height: 150px;
    margin: 20px auto;
    border-radius: 50%;
    padding: 30px;
}

// .toplight {
//     background-color: rgb(83, 80, 80);
//     margin: auto;
//     width: 215px;

// }
.red {
    background-color: red;
    width: 80%;
    
}
.yellow {
    background-color: yellow;
    width: 80%;
    
}
.green {
    background-color: green;
    width: 80%;
    
}